{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="vApp">
<div class="vBanner text-center" style="background-image:url({% static 'storage/img/accounts_banner_images/1623217386.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container">
<div class="row">
<div class="col-12">
<div class="mw-750">
<h1>Trading Account</h1>
<p> Dibort fx offers a variety of trading accounts to suit every trading style.</p>
<ul>
<li>
<a href="/open-live" class="bBtn open-account">Open Live Account</a>
</li>
<li>
<a class="bBtn demo-account" href="/open-demo">Open Demo Account</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="vBodyContent pt-30 pb-50">
<div class="container-fluid ">
<div class="row">
<div class="col-12 text-center pb-20">
<h3 class="vF900 mt-15 text-uppercase">HOW TO GET STARTED WITH DIBORT FX
</h3>
<p>
<b> It only takes a few moments to get your account set up. Follow these easy steps:</b>
</p>
</div>
</div>
<div class="row align-items-center text-center">
<div class="col-lg-6 col-xl-3 col-md-6 mt-30">
<div class="steps shadow">
<i class="far fa-edit text-danger"></i>
<h3 class="vF900 text-uppercase text-danger">OPEN AN ACCOUNT</h3>
<p>Fill the registration form on our website.
</p>
</div>
</div>
<div class="col-lg-6 col-xl-3 col-md-6 mt-30">
<div class="steps shadow">
<i class="fas fa-user-check text-info"></i>
<h3 class="vF900 text-uppercase text-info">VERIFY YOUR INFO</h3>
<p>Protect and activate your account by verifying your information.
</p>
</div>
</div>
<div class="col-lg-6 col-xl-3 col-md-6 mt-30">
<div class="steps shadow">
<i class="fas fa-wallet text-success"></i>
<h3 class="vF900 text-uppercase text-success">DEPOSIT FUNDS</h3>
<p>Deposit funds at your most convenient amount.
</p>
</div>
</div>
<div class="col-lg-6 col-xl-3 col-md-6 mt-30">
<div class="steps last shadow">
<i class="fas fa-wave-square  text-dark"></i>
<h3 class="vF900 text-uppercase text-dark">START TRADING</h3>
<p>Access web, desktop or mobile MT5 platform and place trade.
</p>
</div>
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-50 pb-150 vBodyBefore" style="background-image:url({% static 'storage/img/account_types_bg_images/1623217386.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container-fluid ">
<div class="row">
<div class="col-12 text-center pb-50">
<h3 class="vF900 mt-15 text-white text-uppercase">ACCOUNT TYPES TO SUIT YOUR TRADING STYLE</h3>
<p class="text-white">
Whatever your trading style, web Forex offers an account to suit your needs. Trade in demo mode to sharpen your trading skills before using real money.
</p>
</div>
</div>
<div class="row align-items-center">
<div class="col-md-3 mb-25">
<div class="vBox shadow vBoxAccount bg-1 pR bRds-10">
<h3 class="vF900  text-uppercase">STARTER ACCOUNT
</h3>
<p>Commission-free account that is ideal fit for all traders, including starters. Highlights include market execution, low spreads and no requotes. </p><ul><li>$100 MINIMUM DEPOSIT</li><li> Spreads from 2 Pips </li><li>Leverage Up to 1:200</li><li> Zero Commissions</li><li> Min Order Volume 0.01 </li><li>EA Allowed</li><li> Market Execution<br></li></ul>
<a href="https://client.dibortfx.com" class="bBtn open-account b-block w-100 text-center text-white">Open Live Account</a>
</div>
</div>
<div class="col-md-3 mb-25">
<div class="vBox shadow vBoxAccount bg-2 pR  bRds-10">
<h3 class="vF900  text-uppercase">PRO ACCOUNT
</h3>
<p><span style="font-size: 1rem;">Accounts that fulfil the demands of the most experienced traders. Highlights include low spreads, market execution, and no requotes.</span><br></p><ul><li>$5000 MINIMUM DEPOSIT </li><li>Spreads from 2.1 Pips </li><li>Leverage Up to 1:100 </li><li>Zero Commissions</li><li> Min Order Volume 0.01</li><li> EA Allowed </li><li>Market Execution<br></li></ul>
<a href="/open-live" class="bBtn open-account b-block w-100 text-center text-white">Open Live Account</a>
</div>
</div>
<div class="col-md-3 mb-25">
<div class="vBox vBoxAccount shadow bg-3 pR bRds-10">
<h3 class="vF900  text-uppercase">EXPERT ACCOUNT
</h3>
<p><span style="font-size: 1rem;">Fixed spread, execution at the declared prices & accurate calculation of costs for those who value stability.</span><br></p><ul><li>$1000 MINIMUM DEPOSIT </li><li>Spreads from 2.2 Pips</li><li> Leverage Up to 1:150 </li><li>Zero Commissions </li><li>Min Order Volume 0.01</li><li> EA Allowed </li><li>Market Execution<br></li></ul>
<a href="/open-live" class="bBtn open-account b-block w-100 text-center text-white">Open Live Account</a>
</div>
</div>
<div class="col-md-3 mb-25">
<div class="vBox vBoxAccount shadow bg-4 pR bRds-10">
<h3 class="vF900  text-uppercase">PRIME ACCOUNT
</h3>
<p>The Prime account corresponds exactly to that commonly adopted in the intermarket. Prime account has a wider selection of tradable instruments.</p><ul><li>$10000 MINIMUM DEPOSIT</li><li> Spreads from 2 Pips </li><li>Leverage Up to 1:100</li><li> Zero Commissions</li><li> Min Order Volume 0.01 </li><li>EA Allowed</li><li> Market Execution<br></li></ul>
<a href="/open-live" class="bBtn open-account b-block w-100 text-center text-white">Open Live Account</a>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}