{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="vApp">
<div class="vBanner text-center" style="background-image:url({% static 'storage/img/awards_banner_images/1623219576.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container">
<div class="row">
<div class="col-12">
<div class="mw-750">
<h1>Awards Wining</h1>
<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Start your plus experience with Web Forex</p>
<ul>
<li>
<a href="/open-live" class="bBtn open-account">Open Live Account</a>
</li>
<li>
<a class="bBtn demo-account" href="/open-demo">Open Demo Account</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="vBodyContent pt-30 pb-50">
<div class="container ">
<div class="row align-items-center flex-column-reverse flex-md-row">
<div class="col-md-7">
<h3 class="vF900 mt-15"> WHY WE WON THE AWARDS?</h3>
<p><font color="#344055" face="Lato, sans-serif">Our goal is clear; to provide all our clients with the tools and services they require for better trading, and to maximize their trading profit potential. This is reflected in our recognition and gradually recognized as the best broker for all levels of traders in the Forex Market.</font></p><p><font color="#344055" face="Lato, sans-serif"> Dibort FX will continue to invest heavily in trader’s needs by providing the tools and services to provide the best trading experience.</font></p><p><font color="#344055" face="Lato, sans-serif"> With dedication and professionalism, we will thrive in the market with proven results & will reach peak achievement.</font><br></p>
</div>
<div class="col-md-5">
<img src="{% static 'storage/img/awards_content_image/1623217477.png' %}" alt="award_cup">
</div>
</div>
</div>
</div>


</div>
{% endblock %} 