{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="vApp">
<div class="vBanner text-center" style="background-image:url({% static 'storage/img/education_banner_images/1622019830.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container">
<div class="row">
<div class="col-12">
<div class="mw-750">
<h1>Get Premium Forex Education From Dibort FX</h1>
<p> Learn all the ins and outs of Forex trading and enhance your skills.</p>
<ul>
<li>
<a href="/open-live" class="bBtn open-account">Open Live Account</a>
</li>
<li>
<a class="bBtn demo-account" href="/open-demo">Open Demo Account</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="vBodyContent pt-30 pb-50 bg-light">
<div class="container ">
<div class="row align-items-center flex-column-reverse flex-md-row">
<div class="col-md-7">
<h3 class="vF900 mt-15">What’s in for the traders?</h3>
<p>Master all of the steps of Forex with the help of our online courses. Enjoy the benefits of the online training sessions from anywhere.</p><p><span style="font-size: 1rem;">Enjoy a premium learning venture through our skillfully crafted, intricate course outline.</span></p><ul><li>Concise courses for easy understanding</li><li> Real examples</li><li> Simple language</li><li> Organized diverse topics<br></li></ul>
</div>
<div class="col-md-5">
<div class=" shadow">
<img src="{% static 'storage/img/online_courses_images/1624359700.png' %}" alt="bodyimage">
</div>
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-30 pb-50 bg-green">
<div class="container ">
 <div class="row align-items-center">
<div class="col-md-5">
<div class=" shadow">
<img src="{% static 'storage/img/trading_game_images/1624361341.png' %}" alt="bodyimage">
</div>
</div>
<div class="col-md-7 text-white">
<h3 class="vF900 mt-15">Up Your Trading Game</h3>
<p>Elavate your trading skills through our online courses. Dibort FX will help you through to all the skills you need.</p><p><span style="font-size: 1rem;">You will encounter numerous tips and tricks that will come in handy during your actual trading sessions.</span></p><p><b>The course aims to help you gain:</b><br></p><ul><li><span style="font-size: 1rem;"> </span>More stability in trading, i.e, reduced dips below break-even</li><li> Ability to read indicators and avoid any missed windows</li><li> Strong understanding of the Market Trend</li><li> Ability to recognize the optimum trading hours ideal for you</li></ul>
<a href="https://mt5client.dibortfx.com/en/register" class="bBtn open-account">Register Now</a>
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-30 pb-50 bg-light">
<div class="container ">
<div class="row align-items-center flex-column-reverse flex-md-row">
<div class="col-md-7">
<h3 class="vF900 mt-15">Benefits Of Dibort FX Education </h3>
<p>The course materials are fashioned in a structure that ensures that you will become a proper, successful Professional Trader at the end of the course.</p><p><span style="font-size: 1rem;">By having in-depth knowledge, you can trade more tactfully and generate higher profits.</span></p><p><b>You will obtain the following benefits:</b><br></p><ul><p><li>Strong Understanding of Leverage, Spread, and Margin</li><li> Establishing Forex Trading Platform</li><li> Complete Understanding of Trading Sessions</li><li> Ability to Trade in a Single Timeframe<br></li></p></ul>
</div>
<div class="col-md-5">
<div class=" shadow">
<img src="{% static 'storage/img/benefits_images/1624361341.png' %}" alt="bodyimage">
</div>
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-30 pb-50 bg-green">
<div class="container ">
<div class="row align-items-center">
<div class="col-md-5">
<div class=" shadow">
<img src="{% static 'storage/img/trading_potential_images/1624361429.png' %}" alt="bodyimage">
</div>
</div>
<div class="col-md-7 text-white">
<h3 class="vF900 mt-15">Unleash Your Trading Potential</h3>
<p>The online courses are carried out by highly-skilled Forex traders who have years of experience.</p><p>Under their guidance, you will surely be able to bring the trading odds in your favor and thrive in the world of Forex.</p><p><b>What you will be knowing:</b><br></p><ul><li>Proper Control of Profit Take In & Stop Loss Levels </li><li>Strong Grasp of Short-term Price Jumps & Market Trends </li><li>Utilization of Market Volatility </li><li>Basic Principles of Profitability<br></li></ul>
<a href="https://mt5client.dibortfx.com/en/register" class="bBtn open-account">Register Now</a>

</div>
</div>
</div>
</div>
</div>
{% endblock %}