{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="vApp">
<div class="vBanner text-center" style="background-image:url({% static 'storage/img/faq_banner_images/1622029497.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container">
<div class="row">
<div class="col-12">
<div class="mw-750">
<h1>FREQUENTLY ASKED QUESTIONS</h1>
<p> Web forex is an reliable multi-asset broker whose top priority is direct communication. Understanding our clients and improving client service more is our main motto.</p>
<ul>
<li>
<a href="/open-live" class="bBtn open-account">Open Live Account</a>
</li>
<li>
<a class="bBtn open-account" href="/open-demo">Open Demo Account</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="rv-faq pt-25 pb-50">
<div class="container">
<div id="accordion" class="shadow bRds-10 p-4">
<h2 class="mb-25 vF900">Basic Questions &amp; Answers</h2>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 rv-accHead collapsed " data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1">
Web forex Forex?
</h5>
</div>
<div id="faq1" class="collapse" aria-labelledby="faq1" data-parent="#accordion">
<div class="card-body">
Web forex, stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 rv-accHead collapsed " data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
How does it work?
</h5>
</div>
<div id="faq2" class="collapse" aria-labelledby="faq2" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 rv-accHead collapsed " data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
How do I trade Forex with Web Forex Markets ?
</h5>
</div>
<div id="faq3" class="collapse" aria-labelledby="faq3" data-parent="#accordion">
<div class="card-body">
Web forex, stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
How do I trade Forex effectively?
</h5>
</div>
<div id="faq4" class="collapse" aria-labelledby="faq4" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq5" aria-expanded="true" aria-controls="faq5">
How is Forex quoted and what is the spread?
</h5>
</div>
<div id="faq5" class="collapse" aria-labelledby="faq5" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq7" aria-expanded="true" aria-controls="faq7">
What is a rollover?
</h5>
</div>
<div id="faq7" class="collapse" aria-labelledby="faq7" data-parent="#accordion">
 <div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq6" aria-expanded="true" aria-controls="faq6">
What is the minimum deposit to open an account with Web forex ?
</h5>
</div>
<div id="faq6" class="collapse" aria-labelledby="faq6" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq8" aria-expanded="true" aria-controls="faq8">
What do I need to trade Forex with Web Forex Markets (Web forex) ?
</h5>
</div>
<div id="faq8" class="collapse" aria-labelledby="faq8" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
<div class="card mb-10">
<div>
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq9" aria-expanded="true" aria-controls="faq9">
Can I test drive the platform before opening an account?
</h5>
</div>
<div id="faq9" class="collapse" aria-labelledby="faq9" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
 <div class="card mb-10">
<div class="p-0">
<h5 class="mb-0 pt-10 pb-10 pl-20 pr-20 collapsed rv-accHead" data-toggle="collapse" data-target="#faq10" aria-expanded="true" aria-controls="faq10">
Can I test drive the platform before opening an account?
</h5>
</div>
<div id="faq10" class="collapse" aria-labelledby="faq10" data-parent="#accordion">
<div class="card-body">
Web forex stands for Foreign Exchange and is the market where currencies are traded. Trading Forex is essentially the process of speculating on the value of one currency versus that of another. The Forex market is the largest financial market in the world, with daily volumes hitting several trillions of dollars. As there is no central exchange, currencies are traded 24 hours a day from Sunday evening to Friday night.
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}