{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="vApp">
<div class="vBanner text-center" style="background-image:url({% static 'storage/img/feature_banner_images/1622019304.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container">
<div class="row">
<div class="col-12">
<div class="mw-750">
<h1>Features of Dibort FX</h1>
<p> From all around the world, traders have already benefited from our unbeatable features.</p>
<ul>
<li>
<a href="https://client.dibortfx.com" class="bBtn open-account">Open Live Account</a>
</li>
<li>
<a class="bBtn demo-account" href="#">Open Demo Account</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="vBodyContent pt-30 pb-50 bg-light">
<div class="container-fluid ">
<div class="row align-items-center">
<div class="col-lg-4 col-md-6 mb-15 text-center">
<img src="{% static 'storage/img/pam_mam_images/1624441807.png' %}" alt="bodyimage">
</div>
<div class="col-lg-8 col-md-6  mb-15">
<div class="shadow pt-20 pb-20 pl-15 pr-15 text-white blueBgG  shadowHover bRds-10">
<h3 class="vF900 mt-15">MAM/PAMM </h3>
<p>Dibort FX’s MAM/PAMM social trading enables the traders to become a trade manager & manage other trades with an easy commission allocation method. Or become an investor to take out the most profit with the experienced manager.</p><ul><li>Manage multiple investors with a single manager account. </li><li>Easy Configurable of trading parameter.</li><li> Multiple commission allocation method</li><li> No limitation on investment.</li><li> Easy web-based interface. </li><li>Compatible with Metatrader 5 platform<br></li></ul>
 <a href="https://mt5client.dibortfx.com/en/register" class="bBtn open-account">Open Live Account</a>
</div>
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-30 pb-50 vBodyCurveLeftContent">
<div class="container ">
<div class="row align-items-center flex-column-reverse flex-md-row">
<div class="col-lg-7 col-md-6">
<h3 class="vF900 mt-15">Best Trading Environment</h3>
<p>Dibort FX Trading Environment promises World's most flexible Trading Terms and Conditions. They are perfect for traders who demand the best performance quality and lowest spreads.</p><ul><li>60+ different currency pairs. </li><li>Spreads from 2 pips. </li><li>Average execution speed 0.1 seconds. </li><li>Minimum deposit from as low as $100. </li><li>Leverage up to 1:200. </li><li>Minimum Order volume 0.01.<br></li></ul>
<a href="https://mt5client.dibortfx.com/en/login" class="bBtn bg-danger">DEPOSIT NOW</a>
</div>
<div class="col-lg-5 col-md-6">
<img src="{% static 'storage/img/rms_images/1622019304.png' %}" alt="bodyimage">
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-30 pb-50">
<div class="container ">
<div class="row align-items-center ">
<div class="col-md-5">
<img src="{% static 'storage/img/payment_gateway_images/1622019304.png' %}" alt="bodyimage">
</div>
<div class="col-md-7">
<h3 class="vF900 mt-15">Payment Gateway</h3>
<p>Dibort FX has increased the accessibility of transaction systems for clients. We are integrated with all the most popular & secured payment gateways. We made financial services simple for clients & fund transactions were never safer & secure before.</p><ul><li>Integrated with top charted PSPs in the financial market.</li><li> Multi-channel payments for the flexible transaction.</li><li> Accept payments from all major currencies.</li><li> Ensure safe & secure fund transactions. </li><li>Client financial information privacy is protected.<br></li></ul>
<a href="https://mt5client.dibortfx.com/en/register" class="bBtn open-account">Open Live Account</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}