{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="vApp">
<div class="vBanner text-center" style="background-image:url({% static 'storage/img/trading_hours_banner_images/1623232075.jpg' %});background-size: cover;background-attachment:fixed ;background-position: center center">
<div class="container">
<div class="row">
<div class="col-12">
<div class="mw-750">
<h1>Trading hours</h1>
<p> Trading hours imply the operation hours of world trading markets. Knowing the correct trading hours helps to grab the opportunity in different market.</p>
<ul>
<li>
<a href="/open-live" class="bBtn open-account">Open Live Account</a>
</li>
<li>
<a class="bBtn demo-account" href="#">Open Demo Account</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="vBodyContent pt-30 pb-50">
<div class="container ">
<div class="row align-items-center flex-column-reverse flex-md-row">
<div class="col-md-7">
<h3 class="vF900 mt-15 color-red">TRADING HOURS</h3>
One of the unique attributes of the Forex market is that it is open 24/ 5 days a week. This means that traders around the world can trade whenever they want to throughout the week. However, not all times are matched equally. There are Forex trading times around the world when price action is consistently volatile, and there are also periods when it is completely muted.
Since the markets are established in different locations and time zones it becomes hard to track the trading hours of various instruments.
Although different currencies can be traded anytime a trader wishes, but cannot monitor a position for such a long period.
In order to minimize such risks, a trader must be aware of when the Forex market is most commonly volatile, and decide which trading strategy & style are best suited for that time being.
<br>
<br>
<a href="/open-live" class="bBtn open-account">Open Live Account</a>
</div>
<div class="col-md-5">
<img src="{% static 'storage/img/trading_hours_images/1623219768.png' %}" alt="Clock">
</div>
</div>
</div>
</div>
<div class="vBodyContent pt-30 pb-50 blueBgG text-white vTh">
<div class="container ">
<div class="row align-items-center flex-column-reverse flex-md-row">
<div class="col-md-6 mb-10">
<div class="shadow pt-30 pb-15 pr-15 pl-15 vTimeZoneBox">
<h5 style="font-weight: 900; color: rgb(255, 255, 255); font-family: lato, sans-serif;">FOREX MARKET CENTER: <span style="font-weight: bolder; color: rgb(183, 28, 43);">FRANKFURT - GERMANY</span></h5><h5 style="font-weight: 900; color: rgb(255, 255, 255); font-family: lato, sans-serif;"><p style="margin-bottom: 15px; font-size: 15px; font-weight: 400; line-height: 24px;">Time Zone: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Europe/Berlin</span><br>Opens Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">08:00 AM 09-April-2021</span><br>Closes Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">04:00 PM 09-April-2021</span><br>Status: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Open</span></p></h5>
</div>
</div>
<div class="col-md-6 mb-10">
<div class="shadow pt-30 pb-15 pr-15 pl-15 vTimeZoneBox">
<h5 style="font-weight: 900; color: rgb(255, 255, 255); font-family: lato, sans-serif;">FOREX MARKET CENTER: <span style="font-weight: bolder; color: rgb(183, 28, 43);">London - United Kingdom</span></h5><h5 style="font-family: " Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: rgb(0, 0, 0);"><p style="margin-bottom: 15px; font-size: 15px; line-height: 24px; color: rgb(255, 255, 255); font-family: lato, sans-serif;">Time Zone: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Europe/London</span><br>Opens Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">09:00 AM 09 -April-2021</span><br>Closes Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">05:00 PM 09-April-2021</span><br>Status: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Open</span></p></h5>
</div>
</div>
<div class="col-md-4 mb-10">
<div class="shadow pt-30 pb-15 pr-15 pl-15 vTimeZoneBox">
<h5 style="font-weight: 900; color: rgb(255, 255, 255); font-family: lato, sans-serif;">FOREX MARKET CENTER: <span style="font-weight: bolder; color: rgb(183, 28, 43);">New York - USA</span></h5><h5 style="font-family: " Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: rgb(0, 0, 0);"><p style="margin-bottom: 15px; font-size: 15px; line-height: 24px; color: rgb(255, 255, 255); font-family: lato, sans-serif;">Time Zone: <span style="font-weight: bolder; color: rgb(183, 28, 43);">America/New York</span><br>Opens Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">02:00 PM 09 -April-2021</span><br>Closes Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">10:00 PM 09- April-2021</span><br>Status: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Open</span></p></h5>
</div>
</div>
<div class="col-md-4 mb-10">
<div class="shadow pt-30 pb-15 pr-15 pl-15 vTimeZoneBox">
<h5 style="font-weight: 900; color: rgb(255, 255, 255); font-family: lato, sans-serif;">FOREX MARKET CENTER: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Sydney - Australia</span></h5><h5 style="font-family: " Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: rgb(0, 0, 0);"><p style="margin-bottom: 15px; font-size: 15px; line-height: 24px; color: rgb(255, 255, 255); font-family: lato, sans-serif;">Time Zone: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Australia/Sydney</span><br>Opens Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">10:00 PM 09 -April-2021</span><br>Closes Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">06:00 AM – 10 -April-2021</span><br>Status: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Closed</span></p></h5>
</div>
</div>
<div class="col-md-4 mb-10">
<div class="shadow pt-30 pb-15 pr-15 pl-15 vTimeZoneBox">
<h5 style="font-weight: 900; color: rgb(255, 255, 255); font-family: lato, sans-serif;">FOREX MARKET CENTER: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Tokyo - Japan</span></h5><h5 style="font-family: " Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: rgb(0, 0, 0);"><p style="margin-bottom: 15px; font-size: 15px; line-height: 24px; color: rgb(255, 255, 255); font-family: lato, sans-serif;">Time Zone: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Asia/Tokyo</span><br>Opens Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">12:00 AM 10 -April-2021</span><br>Closes Europe/Berlin: <span style="font-weight: bolder; color: rgb(183, 28, 43);">08:00 AM 10 -April-2021</span><br>Status: <span style="font-weight: bolder; color: rgb(183, 28, 43);">Closed</span></p></h5>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}